<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header" class="w3-bar-item">
        <nav>
        <!--  <li class="fork" ><a href="#" onclick='window.open("https://github.com/anishroytx01");return false;'></a>View On GitHub</a></li> -->
        <a class="button button-medium green bold LoginAndSignupButtons_signupButton-3B0YU" data-test-id="signup-button" href=href="#" onclick='window.open("https://github.com/anishroytx01");return false;'>View on Github</a>
        </nav>
      </div><!-- end header -->
    <div class="wrapper">
      <section>
        <div id="title">
          <a href="#header">Go To Middle</a>
          <h1> Anish Roy</h1>
        </div>
        {{ content }}
      </section>
    </div>
  </body>
</html>
